<div class="nav">
  <h1 class="nav-logo">Exclusive</h1>

  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="" class="nav-list-item-link">Home</a>
    </li>
    <li class="nav-list-item">
      <a href="" class="nav-list-item-link">Contact</a>
    </li>
    <li class="nav-list-item">
      <a href="" class="nav-list-item-link">About</a>
    </li>
    <li class="nav-list-item">
      <a href="/auth" class="nav-list-item-link">Sign Up</a>
    </li>
  </ul>

  <div class="search-bar">
    <input type="text" class="nav-find" placeholder="What are you looking for?">
    <button type="submit"><i class="fas fa-search"></i></button>
  </div>
</div>